.nav__wrapper {
  padding-top: 4vh;
  @media screen and (max-width: 768px) {
    padding-top: 3vh;
  }
  .nav__links {
    font-family: $bold-sans;
    color: white;
    font-size: 1vw;
    margin-top: 0.1vh;
    .column {
      text-align: right !important;
      width: fit-content !important;
      padding: 0.5vw 1.5vw !important;
      float: right;
    }

    a {
      font-family: $bold-sans;
      color: white;
      cursor: pointer;
    }
  }
  button {
    background-color: $minderz-pink;
    border: none;
    outline: none;
    color: white;
    font-family: $bold-sans;
    padding: 0.6vw 0.9vw;
    border-radius: 1vw;
    margin-top: -0.1vh;
    position: relative;
    bottom: 5px;
  }
  .clear__padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
