@font-face {
  font-family: "Baloo Regular";
  src: url("../fonts/Baloo-Regular.ttf");
}

@font-face {
  font-family: "open sans regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "open sans bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "open sans semibold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

.container__ {
  padding-left: 8vw;
  padding-right: 8vw;
}

@media screen and (max-width: 768px) {
  .container__ {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.left__align {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .left__align {
    text-align: center;
  }
}

.left___align {
  text-align: left;
}

.hide-desktop {
  display: block;
}

@media screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}

.hide-mobile {
  display: block;
}

@media screen and (max-width: 769px) {
  .hide-mobile {
    display: none !important;
  }
}

.nav__wrapper {
  padding-top: 4vh;
}

@media screen and (max-width: 768px) {
  .nav__wrapper {
    padding-top: 3vh;
  }
}

.nav__wrapper .nav__links {
  font-family: "open sans bold";
  color: white;
  font-size: 1vw;
  margin-top: 0.1vh;
}

.nav__wrapper .nav__links a {
  font-family: "open sans bold";
  color: white;
  cursor: pointer;
}

.nav__wrapper button {
  background-color: #ff978f;
  border: none;
  outline: none;
  color: white;
  font-family: "open sans bold";
  padding: 0.6vw 0.9vw;
  border-radius: 1vw;
  margin-top: -0.1vh;
}

.nav__wrapper .clear__padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.hero__wrapper {
  background-image: url("/images/hero-banner.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .hero__wrapper {
    background-size: cover;
  }
}

.hero__wrapper .wrapper {
  margin-top: 15vh;
  text-align: left;
}

.hero__wrapper .wrapper .caption__header h1 {
  font-family: "Baloo Regular";
  color: white;
  font-size: 4.3vw;
}

@media screen and (max-width: 768px) {
  .hero__wrapper .wrapper .caption__header h1 {
    font-size: 10vw;
    text-align: center;
  }
}

.hero__wrapper .wrapper .caption__content {
  margin-top: 4vh;
  font-family: "open sans semibold";
  color: white;
  line-height: 1.45;
  font-size: 1.2vw;
}

@media screen and (max-width: 768px) {
  .hero__wrapper .wrapper .caption__content {
    font-size: 20px;
    margin-top: 4vh;
  }
}

.hero__wrapper .wrap__phone {
  position: relative;
}

.hero__wrapper .wrap__phone img {
  right: 5vw;
  top: 6vw;
  position: relative;
  max-width: 120%;
}

@media screen and (max-width: 768px) {
  .hero__wrapper .wrap__phone img {
    max-width: 100%;
    top: -4vh;
  }
}

.hero__wrapper .download-links {
  margin-top: 3vh;
}

@media screen and (max-width: 768px) {
  .hero__wrapper .download-links {
    text-align: center;
  }
}

.hero__wrapper .download-links img {
  max-width: 19vh;
  padding-right: 2vh;
}

.services__wrapper .services___ {
  background-image: url("/images/icon-bg.svg");
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .services__wrapper .services___ {
    width: 100%;
    background-image: url("/images/icon-bg.svg");
  }
}

.services__wrapper .services___ .heading {
  position: relative;
  top: 10vh;
}

.services__wrapper .services___ .heading h1 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .services__wrapper .services___ .heading h1 {
    font-size: 30px;
  }
}

.services__wrapper .services___ .services {
  margin: 0 auto;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media screen and (max-width: 768px) {
  .services__wrapper .services___ .services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services__wrapper .services___ .services .grid .column {
  padding: 2rem !important;
}

.services__wrapper .services___ .services .wrap__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/boarding.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/boarding.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .services___ .services .wrap__image1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/walking.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/walking.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image1:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image1 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image1 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .services___ .services .wrap__image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/visits.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/visits.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image2 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image2 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .services___ .services .wrap__image3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/sitting.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/sitting.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image3:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image3 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image3 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .services___ .services .wrap__image4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/training.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/training.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image4:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image4 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image4 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .services___ .services .wrap__image5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/grooming.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/grooming.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .services___ .services .wrap__image5:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .services___ .services .wrap__image5 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .services___ .services .wrap__image5 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0px auto;
  background-image: url("/images/icon-bg.svg");
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .services__wrapper .promises {
    width: 100%;
    background-image: url("/images/icon-bg.svg");
  }
}

@media screen and (max-width: 767px) {
  .services__wrapper .promises {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services__wrapper .promises .heading {
  position: relative;
  margin-top: 5vh;
}

.services__wrapper .promises .heading h1 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .services__wrapper .promises .heading h1 {
    font-size: 30px;
  }
}

.services__wrapper .promises .services {
  margin: 0 auto;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media screen and (max-width: 768px) {
  .services__wrapper .promises .services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services__wrapper .promises .services .grid .column {
  padding: 2rem !important;
}

.services__wrapper .promises .services .wrap__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/boarding.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/boarding.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .services .wrap__image1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/walking.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/walking.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image1:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image1 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image1 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .services .wrap__image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/visits.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/visits.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image2 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image2 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .services .wrap__image3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/sitting.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/sitting.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image3:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image3 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image3 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .services .wrap__image4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/training.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/training.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image4:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image4 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image4 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .services .wrap__image5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/images/grooming.png"), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.88)), color-stop(54%, rgba(144, 144, 148, 0.93)), to(rgba(40, 36, 99, 0)));
  background: url("/images/grooming.png"), linear-gradient(360deg, rgba(255, 255, 255, 0.88) 0%, rgba(144, 144, 148, 0.93) 54%, rgba(40, 36, 99, 0) 100%);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 250px;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}

.services__wrapper .promises .services .wrap__image5:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.services__wrapper .promises .services .wrap__image5 .caption_bold {
  font-family: "Baloo Regular";
  font-weight: bold;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1.5rem;
}

.services__wrapper .promises .services .wrap__image5 .caption_normal {
  font-family: "Baloo Regular";
  font-weight: normal;
  color: #008cff;
  padding-bottom: 2em;
  font-size: 1rem;
  width: 70%;
}

.services__wrapper .promises .ui .column {
  margin-top: 6vh;
}

.services__wrapper .promises .ui .column img {
  max-width: 7vh;
}

.services__wrapper .promises .ui .column h2 {
  font-family: "Baloo Regular";
}

.features__wrapper {
  padding-top: 5vh;
  margin: 0px auto;
}

.features__wrapper .feature___ {
  background-image: url("/images/icon-bg.svg");
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .features__wrapper .feature___ {
    width: 100%;
    background-image: url("/images/mobile-icon.svg");
  }
}

.features__wrapper .heading {
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.features__wrapper .heading h1 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .features__wrapper .heading h1 {
    font-size: 30px;
  }
}

.features__wrapper .features__content {
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  .features__wrapper .features__content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.features__wrapper .feature__phone img {
  max-width: 110%;
  position: relative;
  right: 10vw;
}

@media screen and (max-width: 768px) {
  .features__wrapper .feature__phone img {
    max-width: 100%;
    position: relative;
    right: 0vw;
  }
}

.features__wrapper .data h3 {
  font-family: "Baloo Regular";
  color: #008cff;
  margin-bottom: 2px;
}

.features__wrapper .data .caption {
  font-family: "open sans regular";
  line-height: 1.6;
  font-size: 0.9vw;
}

@media screen and (max-width: 768px) {
  .features__wrapper .data .caption {
    font-size: 16px;
  }
}

.furr__caption {
  background-image: url("/images/icon-bg.svg");
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  padding-top: 5vh;
}

.furr__caption .content {
  padding-left: 15vw;
  padding-top: 20vh;
}

@media screen and (max-width: 768px) {
  .furr__caption .content {
    padding-left: 0;
    padding-top: 20px;
    background-image: url("/images/mobile-icon.svg");
  }
}

.furr__caption .content h1 {
  font-family: "Baloo Regular";
  color: #ff978f;
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .furr__caption .content h1 {
    font-size: 2.5vw !important;
  }
}

.furr__caption .content .caption {
  font-family: "open sans regular";
  line-height: 1.7;
}

.furr__caption .curly__cat {
  max-height: 30vh;
}

.furr__caption .curly__cat img {
  max-width: 100%;
  position: relative;
  left: 70px;
}

@media screen and (max-width: 768px) {
  .furr__caption .curly__cat img {
    left: -15px;
    max-width: 100vw;
  }
}

.pet__network {
  margin-top: 35vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.pet__network .network___ {
  background-image: url("/images/bg-phones.svg");
  background-repeat: no-repeat;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .pet__network .network___ {
    padding-left: 0;
    padding-right: 0;
    background-image: url("/images/mobile-icon.svg");
  }
}

.pet__network .heading {
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.pet__network .heading h1 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .pet__network .heading h1 {
    font-size: 30px;
  }
}

.pet__network .app__screens img {
  max-width: 100%;
}

.pet__network .app__screens .down {
  margin-top: 15vh;
}

.pet__network .app__screens .up {
  margin-top: 0vh;
}

.vet__coming__soon {
  background-image: url("/images/icon-bg.svg");
  background-repeat: no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  padding-top: 10vh;
  margin-top: 0px auto;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media screen and (max-width: 768px) {
  .vet__coming__soon {
    padding-left: 0;
    padding-right: 0;
    background-image: url("/images/mobile-icon.svg");
  }
}

.vet__coming__soon .coming__soon {
  padding-top: 5vw;
}

.vet__coming__soon .coming__soon .caption {
  width: 70%;
  font-family: "open sans regular";
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .vet__coming__soon .coming__soon .caption {
    width: 100%;
  }
}

.vet__coming__soon .coming__soon .heading {
  margin-top: 12vh;
  margin-bottom: 2vh;
}

.vet__coming__soon .coming__soon .heading h2 {
  font-size: 2.7vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .vet__coming__soon .coming__soon .heading h2 {
    font-size: 30px;
  }
}

.vet__coming__soon img {
  max-width: 100%;
}

.play-btn {
  position: absolute !important;
  left: 50% !important;
  top: 100%;
  z-index: 999;
  cursor: pointer;
  max-width: 100px !important;
}

.footer__wrapper {
  margin-top: 30vh;
  background-image: url("/images/footer-bg.png");
  background-repeat: no-repeat;
  min-height: 85vh;
  background-size: cover;
}

.footer__wrapper .footer__upper {
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer__wrapper .footer__upper .footer__phone img {
  max-width: 100%;
  position: relative;
  margin-top: -30vh;
}

.footer__wrapper .footer__upper .get__app {
  margin-top: -6vh;
}

.footer__wrapper .footer__upper .get__app .heading {
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.footer__wrapper .footer__upper .get__app .heading h3 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #ff978f;
}

@media screen and (max-width: 768px) {
  .footer__wrapper .footer__upper .get__app .heading h3 {
    font-size: 30px;
  }
}

.footer__wrapper .footer__upper .get__app .content {
  font-family: "open sans semibold";
  line-height: 1.7;
  color: white;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .footer__wrapper .footer__upper .get__app .content {
    width: 100%;
  }
}

.footer__wrapper .footer__upper .get__app .download-links {
  margin-top: 3vh;
}

.footer__wrapper .footer__upper .get__app .download-links img {
  max-width: 17vh;
  padding-right: 2vh;
}

.footer__wrapper .footer__lower {
  position: relative;
}

.footer__wrapper .footer__lower .heading {
  margin-top: 12vh;
  margin-bottom: 5vh;
}

.footer__wrapper .footer__lower .heading h2 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: white;
}

@media screen and (max-width: 768px) {
  .footer__wrapper .footer__lower .heading h2 {
    font-size: 30px;
  }
}

.footer__wrapper .footer__lower .heading span {
  font-family: "open sans regular";
  color: white;
}

.footer__wrapper .footer__lower .newsletter__wrapper {
  margin: 0px auto;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .footer__wrapper .footer__lower .newsletter__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.footer__wrapper .footer__lower .newsletter__wrapper .input {
  background-color: white;
  border-radius: 8vh;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer__wrapper .footer__lower .newsletter__wrapper .input {
    width: 100%;
  }
}

.footer__wrapper .footer__lower .newsletter__wrapper .input .column {
  padding: 0.6rem !important;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input img {
  position: relative;
  top: 5px;
  left: 30px;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input input {
  padding: 0.5em 0em;
  height: 40px;
  outline: none;
  border: none;
  width: 100%;
  margin-left: 20px;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input input::-webkit-input-placeholder {
  font-family: "open sans regular";
  color: #008cff;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input input:-ms-input-placeholder {
  font-family: "open sans regular";
  color: #008cff;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input input::-ms-input-placeholder {
  font-family: "open sans regular";
  color: #008cff;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input input::placeholder {
  font-family: "open sans regular";
  color: #008cff;
}

.footer__wrapper .footer__lower .newsletter__wrapper .input button {
  background: #008cff;
  border-radius: 3.7vh;
  padding: 1em 1.1em;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  font-family: "open sans bold";
}

.footer__wrapper .footer__lower .policies {
  padding: 9vh 0 3vh 0;
  width: 50%;
  margin: 0 auto;
}

.footer__wrapper .footer__lower .policies a span {
  color: white;
  font-family: "open sans regular";
}

.footer__wrapper .footer__lower .media__icons {
  padding: 3vh 0;
}

.footer__wrapper .footer__lower .media__icons img {
  padding: 0.7vh;
}

.footer__wrapper .footer__lower .copyright {
  padding-bottom: 2vh;
}

.footer__wrapper .footer__lower .copyright span {
  color: #ffffff;
}

.short__hero {
  background-image: url("/images/short-hero.png");
  background-repeat: no-repeat;
  min-height: 45vh;
  background-size: cover;
  width: 100vw;
}

.short__hero .heading {
  text-align: left;
}

.short__hero .heading h1 {
  font-family: "Baloo Regular";
  padding-top: 7vh;
  color: white;
  font-size: 3.2vw;
}

@media screen and (max-width: 768px) {
  .short__hero .heading h1 {
    font-size: 30px;
  }
}

.terms__content {
  margin: 5vh 0;
  text-align: left;
}

.terms__content p {
  line-height: 2;
}

.terms__content .section {
  padding-bottom: 4vh;
}

.terms__content .section .heading h3 {
  font-family: "open sans bold";
  padding-bottom: 6px;
}

.terms__content .section .content {
  line-height: 2;
}

.accordion__header span {
  font-family: "open sans regular";
  font-size: 12px;
}

.accordion__header .heading {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.accordion__header .heading h2 {
  font-size: 3vw;
  font-family: "Baloo Regular";
  color: #008cff;
}

@media screen and (max-width: 768px) {
  .accordion__header .heading h2 {
    font-size: 30px;
  }
}

.wrap__accordion {
  padding-bottom: 10vh;
  width: 60%;
  margin: 0px auto;
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
}

@media screen and (max-width: 768px) {
  .wrap__accordion {
    width: 90%;
  }
}

.wrap__accordion blockquote,
.wrap__accordion q {
  quotes: none;
}

.wrap__accordion blockquote:before,
.wrap__accordion blockquote:after,
.wrap__accordion q:before,
.wrap__accordion q:after {
  content: "";
  content: none;
}

.wrap__accordion table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap__accordion * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap__accordion .cf:before,
.wrap__accordion .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.wrap__accordion .cf:after {
  clear: both;
}

.wrap__accordion .cf {
  *zoom: 1;
}

.wrap__accordion html {
  font-size: 16px;
}

.wrap__accordion body {
  background-color: #333333;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}

.wrap__accordion h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.wrap__accordion h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrap__accordion strong {
  font-weight: bold;
}

.wrap__accordion #root {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrap__accordion .Collapsible {
  background-color: white;
  text-align: left;
  border: 1px solid #ebebeb;
  font-size: 17px;
  padding: 30px;
}

.wrap__accordion .Collapsible:nth-child(1) {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.wrap__accordion .Collapsible:nth-last-child(1) {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.wrap__accordion .Collapsible__contentInner {
  padding: 10px;
  border-top: 0;
}

.wrap__accordion .Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.7;
}

.wrap__accordion .Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.wrap__accordion .Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  font-family: "open sans bold";
  padding: 10px;
  cursor: pointer;
  color: black;
}

.wrap__accordion .Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  color: grey;
  right: 10px;
  top: 10px;
  font-size: 30px;
  display: block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.wrap__accordion .Collapsible__trigger.is-open:after {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  color: #008cff;
}

.wrap__accordion .Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.wrap__accordion .CustomTriggerCSS {
  background-color: lightcoral;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.wrap__accordion .CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.wrap__accordion .Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
/*# sourceMappingURL=style.css.map */